/* UTILITIES */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: cursive;
  }
  
  a {
    text-decoration: none;
  }
  
  li {
    list-style: none;
  }
  /* NAVBAR STYLING STARTS */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: teal;
    color: #fff;
    position: sticky;
    top: 0;
  }
  
  .nav-links a {
    color: #fff;
  }
  
  /* LOGO */
  .logo {
    font-size: 32px;
  }
  
  /* NAVBAR MENU */
  .menu {
    display: flex;
    gap: 1em;
    font-size: 18px;
  }
  
  .menu li:hover {
    background-color: #4c9e9e;
    border-radius: 5px;
    transition: 0.3s ease;
  }
  
  .menu li {
    padding: 5px 14px;
  }
  
  /* DROPDOWN MENU */
  .services {
    position: relative; 
  }


  
  .dropdown li + li {
    margin-top: 10px;
  }
  
 
  
  .dropdown li:hover {
    background-color: #4c9e9e;
  }
  
  .services:hover .dropdown {
    display: block;
  }
  #poster img{
    width: 100%;
    padding: 20px 20px 0 20px;
  }
  #poster h1{
    text-align: center;
    padding: 0 5px;
   
    background-color: rgb(0, 208, 255);
  }
  #poster{
    padding-top: 15px;
    
  }

    .btn{
        padding-bottom: 10px;
    }
    .Flickity-images{
      padding: 20px 0 60px 0;
      
    }
    .Flickity-images  h1{
      text-align: center;
      color: rgb(0, 255, 21);
      background-color:gray;
    }
    .link p a{
      font-size: 12px;
    }
 .photo{
  padding-top: 220px;
 }
    
    